@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,500;1,100&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  background-image: url(https://templatemo.com/templates/templatemo_541_host_cloud/assets/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

nav {
  height: 10vh;
  border-bottom: 1px solid rgba(250, 250, 250, 0.3);
  padding: 10px;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.center {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center > h2 {
  font-size: 24px;
  color: aliceblue;
  cursor: pointer;
}
.center > h2 > span {
  font-size: 16px;
}

.left_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_bar > ul {
  display: flex;
}
.left_bar > ul > li {
  font-size: 12pt;
  list-style: none;
  margin: 0 25px;
  color: aliceblue;
  cursor: pointer;
  font-weight: 300;
  display: block;
}

.btn_1 {
  background-color: transparent;
  padding: 6px 20px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  margin: 0 10px 0 60px;
  font-size: 12pt;
}

.btn_1:hover {
  background-color: white;
  color: #00bcd4;
  transition: 0.5s all ease;
}

.btn_2 {
  background-color: #00bcd4;
  padding: 8px 20px;
  border: solid white;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12pt;
}

.center > i {
  display: none;
  font-size: 20px;
  background-color: white;
  padding: 8px 20px;
  color: #00bcd4;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
  font-size: 32px;
}

.banner > h2 {
  margin-bottom: 10px;
  color: aliceblue;
  text-transform: uppercase;
}

.middle > input {
  margin: 2rem 0;
  padding: 15px;
  width: 400px;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.middle > input::placeholder {
  color: white;
}
.middle > button {
  padding: 15px 40px;
  font-size: 15px;
  background-color: #00bcd4;
  border-style: none;
  color: white;
}
.checkbox_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  color: white;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media only screen and (max-width: 1250px) {
  .center {
    width: 90%;
  }
  .left_bar > ul > li {
    display: none;
  }
  .center > i {
    display: block;
  }
}
@media only screen and (max-width: 700px) {
  .banner {
    text-align: center;
  }
  .middle > input {
    min-width: 200px;
  }
  .middle > button {
    width: 100%;
  }
  .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .checkbox_list {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .btn_container {
    display: none;
  }
}
